{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi":"error",
    "no-undef": "off",
    "no-console": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "object-curly-newline": "off",
    "@typescript-eslint/no-namespace": "off",
    "max-len": ["warn", { "code": 120 }],
    "prettier/prettier": ["warn"]
  }
}